@font-face {
    font-family: 'SF Pro';
    src: url('fonts/SF-Pro-Display.woff2') format('woff2'),
         url('fonts/SF-Pro-Display.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SF Pro', -apple-system, BlinkMacSystemFont, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none; 
}

